## IPL Probability Predictor

This is a kaggle dataset where we have 5 Files but we are focused only on 2 Files:

1. matches.csv >> Has each match analysis
2. deliveries.csv >> Has each ball analysis

* Kaggle Dataset :
  https://www.kaggle.com/datasets/ramjidoolla/ipl-data-set

In [232]:
# Import the libraries for data cleaning
import numpy as np
import pandas as pd

In [233]:
# Import the data
match_df = pd.read_csv('matches.csv')
delivery_df = pd.read_csv('deliveries.csv')

In [234]:
match_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [235]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [236]:
# Removing unwanted columns
match_df.drop(['toss_winner', 'toss_decision', 'umpire1', 'umpire2', 'umpire3', 'player_of_match'], axis=1, inplace=True)

In [237]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium

In [238]:
match_df.shape

(756, 12)

In [239]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [240]:
delivery_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [241]:
delivery_df.drop(['bowler', 'is_super_over', 'wide_runs','bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs','dismissal_kind', 'fielder'], axis=1, inplace=True)

In [242]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [243]:
delivery_df.shape

(179078, 12)

* batsman_runs >> Runs made by batsman
* total_runs >> Runs scored (if no ball, wide, extra runs etc)

In [244]:
# Extracting total runs data according to innings 
# inning 1 -> First team to Bat
# inning 2 -> Second team to Bat
total_score_df = (delivery_df.groupby(['match_id','inning']).sum()['total_runs'].reset_index())

C:\Users\acer\AppData\Local\Temp\ipykernel_5384\3847497415.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df = (delivery_df.groupby(['match_id','inning']).sum()['total_runs'].reset_index())

In [245]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [246]:
# First Team data
total_score_df = total_score_df[total_score_df['inning']==1]
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [247]:
# merging total_score_df and match_df
match_df=(match_df.merge(total_score_df[['match_id','total_runs']],left_on='id', right_on='match_id'))

In [248]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [249]:
# Teams
teams = list(match_df['team1'].unique())

In [250]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

In [251]:
# Replacing old team names with new team names
# To make future prediction results of the model more accurate
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions', 'Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [252]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [253]:
teams = ['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Capitals',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals']

In [254]:
# Removing team names which are no more existing
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [255]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [256]:
match_df.shape

(667, 14)

In [257]:
match_df.head()

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178

In [258]:
# dl_applied is 0 means normal match and 1 means duckworth lewis rules are applied (stoppage of match due to rain, target runs/overs are reduced)

In [259]:
match_df['dl_applied'].value_counts()

0    652
1     15
Name: dl_applied, dtype: int64

In [260]:
# Removing dl_applied = 1 records 
match_df = match_df[match_df['dl_applied'] == 0]

In [261]:
match_df.shape

(652, 14)

In [262]:
# Columns only required for further data analysis
match_df = match_df[['match_id','city','winner','total_runs']]

In [263]:
match_df

     match_id           city                       winner  total_runs
0           1      Hyderabad          Sunrisers Hyderabad         207
2           3         Rajkot        Kolkata Knight Riders         183
4           5      Bangalore  Royal Challengers Bangalore         157
5           6      Hyderabad          Sunrisers Hyderabad         135
6           7         Mumbai               Mumbai Indians         178
..        ...            ...                          ...         ...
751     11347         Mumbai               Mumbai Indians         143
752     11412        Chennai               Mumbai Indians         136
753     11413  Visakhapatnam               Delhi Capitals         171
754     11414  Visakhapatnam          Chennai Super Kings         155
755     11415      Hyderabad               Mumbai Indians         152

[652 rows x 4 columns]

In [264]:
# Target scores to chase in Second inning
delivery_df = delivery_df[delivery_df['inning']  == 2]

In [265]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86240 entries, 125 to 179077
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          86240 non-null  int64
 1   inning            86240 non-null  int64
 2   batting_team      86240 non-null  object
 3   bowling_team      86240 non-null  object
 4   over              86240 non-null  int64
 5   ball              86240 non-null  int64
 6   batsman           86240 non-null  object
 7   non_striker       86240 non-null  object
 8   batsman_runs      86240 non-null  int64
 9   extra_runs        86240 non-null  int64
 10  total_runs        86240 non-null  int64
 11  player_dismissed  4216 non-null   object
dtypes: int64(7), object(5)
memory usage: 8.6+ MB

In [266]:
delivery_df = match_df.merge(delivery_df, on='match_id')

In [267]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs_y,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [268]:
# Renaming Columns
# 'total_runs_x' >> 'total runs scored'     'total_runs_y' >> 'individual runs scored by per ball'

delivery_df.rename(columns={'total_runs_x':'total_runs', 'total_runs_y':'ball_score'},inplace=True)

In [269]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [270]:
# Adding up run scores till last ball points (cummulative sum)
delivery_df['score'] = delivery_df[['match_id','ball_score']].groupby('match_id').cumsum()['ball_score']

In [271]:
delivery_df[['ball_score','score']]

       ball_score  score
0               1      1
1               0      1
2               0      1
3               2      3
4               4      7
...           ...    ...
75335           1    152
75336           2    154
75337           1    155
75338           2    157
75339           0    157

[75340 rows x 2 columns]

In [272]:
# New column which has target (getting reduced after each run)
delivery_df['target_left'] = (delivery_df['total_runs'] + 1) - delivery_df['score']

In [273]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4

In [274]:
# 1 over >> 6 balls
# ipl has 20 over match >> 20 * 6 = 120 balls
delivery_df['remaining_balls'] = (120 - ((delivery_df['over'] - 1)* 6 + delivery_df['ball']))

In [275]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,score,target_left,remaining_balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [276]:
# How many wickets are left out
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')

In [277]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,score,target_left,remaining_balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [278]:
# whenever a player is out its name get replaces with 1
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda X:X if X == '0' else '1').astype('int64')

In [279]:
delivery_df['player_dismissed']

0        0
1        0
2        0
3        0
4        0
        ..
75335    0
75336    0
75337    1
75338    0
75339    1
Name: player_dismissed, Length: 75340, dtype: int64

In [280]:
# number of wickets taken cummulative sum
delivery_df['Wickets'] = delivery_df[['match_id','player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values

In [281]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,score,target_left,remaining_balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,6
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,6
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,7

In [282]:
delivery_df['Wickets'] = 10 - delivery_df['Wickets']

In [283]:
delivery_df = delivery_df.rename(columns={'Wickets': 'wicket_left'})

In [284]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,score,target_left,remaining_balls,wicket_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,4
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,3

Current Run Rate


$$Current \ run \ rate = \frac{Runs \ scored}{Number \ of \ Overs \ completed}$$

In [285]:
delivery_df['crr'] = (delivery_df['score'])*6/(120 - delivery_df['remaining_balls'])

Required Run Rate


$$Required \ run \ rate = \frac{Remaining \ score \ or \ Target}{Number \ of \ Overs \ left}$$

In [286]:
delivery_df['rrr'] = (delivery_df['target_left'])*6/(delivery_df['remaining_balls'])

In [287]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,ball_score,player_dismissed,score,target_left,remaining_balls,wicket_left,crr,rrr
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,1,207,119,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,1,207,118,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,1,207,117,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,3,205,116,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,7,201,115,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,152,1,4,5,7.862069,1.500000
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,154,-1,3,5,7.897436,-2.000000
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,155,-2,2,4,7.881356,-6.000000
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,157,-4,1,4,7.915966,-24.000000
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,157,-4,0,3,7.850000,-inf

In [288]:
# 2nd inning data
# Creating a column result   
# where 1 >> batting_team won   0 >> batting_team lost

In [289]:
def result(row):
    if row['batting_team'] == row['winner']:
        return 1
    else:
        return 0

In [290]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [291]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,ball_score,player_dismissed,score,target_left,remaining_balls,wicket_left,crr,rrr,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,207,119,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,1,207,118,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,1,207,117,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,3,205,116,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,152,1,4,5,7.862069,1.500000,0
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,154,-1,3,5,7.897436,-2.000000,0
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,1,155,-2,2,4,7.881356,-6.000000,0
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,157,-4,1,4,7.915966,-24.000000,0
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,1,157,-4,0,3,7.850000,-inf,0

In [292]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'ball_score', 'player_dismissed', 'score',
       'target_left', 'remaining_balls', 'wicket_left', 'crr', 'rrr',
       'result'],
      dtype='object')

In [293]:
Model_df = delivery_df[['batting_team','bowling_team', 'city', 'score','target_left', 'remaining_balls', 'wicket_left', 'crr', 'rrr', 'result' ]]

In [294]:
# Final data before data processing 
Model_df

,batting_team,bowling_team,city,score,target_left,remaining_balls,wicket_left,crr,rrr,result
0,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,207,119,10,6.000000,10.436975,0
1,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,207,118,10,3.000000,10.525424,0
2,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,1,207,117,10,2.000000,10.615385,0
3,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,3,205,116,10,4.500000,10.603448,0
4,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,7,201,115,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...
75335,Chennai Super Kings,Mumbai Indians,Hyderabad,152,1,4,5,7.862069,1.500000,0
75336,Chennai Super Kings,Mumbai Indians,Hyderabad,154,-1,3,5,7.897436,-2.000000,0
75337,Chennai Super Kings,Mumbai Indians,Hyderabad,155,-2,2,4,7.881356,-6.000000,0
75338,Chennai Super Kings,Mumbai Indians,Hyderabad,157,-4,1,4,7.915966,-24.000000,0
75339,Chennai Super Kings,Mumbai Indians,Hyderabad,157,-4,0,3,7.850000,-inf,0

In [295]:
Model_df.isnull().sum()

batting_team         0
bowling_team         0
city               832
score                0
target_left          0
remaining_balls      0
wicket_left          0
crr                  0
rrr                  5
result               0
dtype: int64

In [296]:
# Removing records where city is missing
Model_df[Model_df['city'].isna()]

,batting_team,bowling_team,city,score,target_left,remaining_balls,wicket_left,crr,rrr,result
43674,Royal Challengers Bangalore,Mumbai Indians,NaN,0,116,119,10,0.000000,5.848739,1
43675,Royal Challengers Bangalore,Mumbai Indians,NaN,4,112,118,10,12.000000,5.694915,1
43676,Royal Challengers Bangalore,Mumbai Indians,NaN,5,111,117,10,10.000000,5.692308,1
43677,Royal Challengers Bangalore,Mumbai Indians,NaN,7,109,116,10,10.500000,5.637931,1
43678,Royal Challengers Bangalore,Mumbai Indians,NaN,7,109,115,10,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
45510,Mumbai Indians,Sunrisers Hyderabad,NaN,154,19,4,3,7.965517,28.500000,0
45511,Mumbai Indians,Sunrisers Hyderabad,NaN,154,19,3,3,7.897436,38.000000,0
45512,Mumbai Indians,Sunrisers Hyderabad,NaN,155,18,2,3,7.881356,54.000000,0
45513,Mumbai Indians,Sunrisers Hyderabad,NaN,156,17,1,3,7.865546,102.000000,0
45514,Mumbai Indians,Sunrisers Hyderabad,NaN,157,16,0,3,7.850000,inf,0

In [297]:
Model_df.dropna(inplace=True)

C:\Users\acer\AppData\Local\Temp\ipykernel_5384\2202708226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Model_df.dropna(inplace=True)

In [298]:
Model_df.isnull().sum()

batting_team       0
bowling_team       0
city               0
score              0
target_left        0
remaining_balls    0
wicket_left        0
crr                0
rrr                0
result             0
dtype: int64

In [299]:
Model_df.describe()

,score,target_left,remaining_balls,wicket_left,crr,rrr,result
count,74503.000000,74503.000000,74503.000000,74503.000000,74503.000000,7.450300e+04,74503.000000
mean,73.593641,93.300109,62.744252,7.539951,7.483927,NaN,0.535656
std,47.021034,50.199133,33.365914,2.137884,2.287416,NaN,0.498730
min,0.000000,-15.000000,-2.000000,0.000000,0.000000,-inf,0.000000
25%,34.000000,54.000000,35.000000,6.000000,6.289157,7.235294e+00,0.000000
50%,70.000000,93.000000,63.000000,8.000000,7.500000,8.963855e+00,1.000000
75%,109.000000,131.000000,92.000000,9.000000,8.750000,1.100000e+01,1.000000
max,223.000000,250.000000,119.000000,10.000000,42.000000,inf,1.000000

In [300]:
# Removing infinity values (where denominator values in rrr formulae = 0 )
Model_df = Model_df[Model_df['remaining_balls'] != 0]

In [301]:
Model_df.describe()

,score,target_left,remaining_balls,wicket_left,crr,rrr,result
count,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000
mean,73.318103,93.536088,62.947874,7.555129,7.482496,10.515160,0.537045
std,46.827172,50.098611,33.227690,2.122778,2.289951,13.860596,0.498629
min,0.000000,-15.000000,-2.000000,0.000000,0.000000,-516.000000,0.000000
25%,34.000000,54.000000,35.000000,6.000000,6.285714,7.230769,0.000000
50%,70.000000,93.000000,64.000000,8.000000,7.500000,8.953846,1.000000
75%,108.000000,131.000000,92.000000,9.000000,8.750000,10.978723,1.000000
max,222.000000,250.000000,119.000000,10.000000,42.000000,684.000000,1.000000

In [302]:
# shuffling the data so that no bias is created while splitting the data

In [303]:
Model_df = Model_df.sample(Model_df.shape[0])

In [304]:
# Random sample data is picked 
Model_df.sample()

,batting_team,bowling_team,city,score,target_left,remaining_balls,wicket_left,crr,rrr,result
5513,Mumbai Indians,Chennai Super Kings,Chennai,98,111,49,6,8.28169,13.591837,0

In [305]:
#Splitting the data into features and target

X = Model_df.iloc[:,:-1]
Y = Model_df.iloc[:,-1]

In [306]:
X

,batting_team,bowling_team,city,score,target_left,remaining_balls,wicket_left,crr,rrr
5639,Rajasthan Royals,Deccan Chargers,Hyderabad,128,87,46,7,10.378378,11.347826
40335,Kolkata Knight Riders,Rajasthan Royals,Kolkata,55,78,77,9,7.674419,6.077922
62241,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,41,115,93,10,9.111111,7.419355
47660,Kolkata Knight Riders,Mumbai Indians,Cuttack,9,133,110,10,5.400000,7.254545
26026,Chennai Super Kings,Mumbai Indians,Mumbai,52,113,79,8,7.609756,8.582278
...,...,...,...,...,...,...,...,...,...
41943,Mumbai Indians,Sunrisers Hyderabad,Mumbai,128,51,21,6,7.757576,14.571429
3018,Mumbai Indians,Royal Challengers Bangalore,Mumbai,58,105,78,9,8.285714,8.076923
5173,Kolkata Knight Riders,Deccan Chargers,Kolkata,38,73,61,7,3.864407,7.180328
36554,Delhi Daredevils,Rajasthan Royals,Delhi,60,106,69,9,7.058824,9.217391
4227,Sunrisers Hyderabad,Gujarat Lions,Kanpur,11,144,113,10,9.428571,7.646018

In [307]:
Y

5639     1
40335    1
62241    1
47660    1
26026    0
        ..
41943    1
3018     1
5173     1
36554    0
4227     1
Name: result, Length: 74262, dtype: int64

In [308]:
# Splitting data into train and test data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=2)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
X_train

,batting_team,bowling_team,city,score,target_left,remaining_balls,wicket_left,crr,rrr
31307,Rajasthan Royals,Deccan Chargers,Jaipur,9,188,112,10,6.750000,10.071429
44043,Delhi Daredevils,Chennai Super Kings,Abu Dhabi,18,160,92,7,3.857143,10.434783
1413,Kolkata Knight Riders,Delhi Daredevils,Delhi,71,98,66,7,7.888889,8.909091
66752,Chennai Super Kings,Sunrisers Hyderabad,Pune,167,26,13,8,9.364486,12.000000
43655,Rajasthan Royals,Sunrisers Hyderabad,Abu Dhabi,109,25,21,6,6.606061,7.142857
...,...,...,...,...,...,...,...,...,...
64439,Kolkata Knight Riders,Delhi Daredevils,Delhi,106,118,47,5,8.712329,15.063830
1499,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,16,144,103,8,5.647059,8.388350
40067,Delhi Daredevils,Kolkata Knight Riders,Raipur,2,135,115,10,2.400000,7.043478
40359,Kolkata Knight Riders,Rajasthan Royals,Kolkata,90,43,54,8,8.181818,4.777778
37834,Kolkata Knight Riders,Kings XI Punjab,Chandigarh,1,157,115,9,1.200000,8.191304

In [ ]:
X_test

,batting_team,bowling_team,city,score,target_left,remaining_balls,wicket_left,crr,rrr
46996,Kolkata Knight Riders,Kings XI Punjab,Cuttack,73,77,71,9,8.938776,6.507042
64565,Mumbai Indians,Chennai Super Kings,Pune,101,76,46,9,8.189189,9.913043
64589,Mumbai Indians,Chennai Super Kings,Pune,137,40,23,8,8.474227,10.434783
25010,Mumbai Indians,Royal Challengers Bangalore,Bangalore,79,62,56,9,7.406250,6.642857
9844,Kings XI Punjab,Deccan Chargers,Chandigarh,74,102,85,10,12.685714,7.200000
...,...,...,...,...,...,...,...,...,...
28387,Delhi Daredevils,Kings XI Punjab,Dharamsala,42,129,84,10,7.000000,9.214286
50131,Kolkata Knight Riders,Mumbai Indians,Kolkata,37,132,85,9,6.342857,9.317647
51696,Sunrisers Hyderabad,Delhi Daredevils,Visakhapatnam,32,136,90,10,6.400000,9.066667
32092,Kolkata Knight Riders,Deccan Chargers,Cuttack,99,28,27,6,6.387097,6.222222
24486,Rajasthan Royals,Deccan Chargers,Hyderabad,11,127,116,10,16.500000,6.568966

In [ ]:
Y_train

31307    1
44043    0
1413     1
66752    1
43655    1
        ..
64439    0
1499     0
40067    1
40359    1
37834    0
Name: result, Length: 59409, dtype: int64

In [ ]:
Y_test

46996    1
64565    1
64589    1
25010    1
9844     1
        ..
28387    0
50131    1
51696    0
32092    1
24486    1
Name: result, Length: 14853, dtype: int64

In [ ]:
# Transforming categorical features into numerical

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(drop='first'),['batting_team','bowling_team','city'])], remainder = 'passthrough')

In [ ]:
# Dropping first row and remaining columns will be ignored

In [ ]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf', OneHotEncoder(drop='first'),
                                 ['batting_team', 'bowling_team', 'city'])])

In [ ]:
# building the model through logistic regression
# Top most input will be pushed into model through pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [ ]:
# First transformation takes place and then the logistic regression model is built
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [ ]:
pipe.fit(X_train,Y_train)

C:\Users\acer\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [ ]:
# making predictions data

In [ ]:
Y_prediction = pipe.predict(X_test)

In [ ]:
Y_prediction

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [ ]:
# model evaluation with accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_prediction)

0.8001077223456541

In [ ]:
# Exporting the model

In [ ]:
# importing all model files as pickle format (compressed) to build an application through pickle library
import pickle as pkl

pkl.dump(pipe,open('model.pkl','wb') )

In [ ]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Capitals',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals']

In [ ]:
# exporting teams list as pickle format
pkl.dump(teams,open('team.pkl','wb'))

In [ ]:
cities = list(Model_df['city'].unique())
cities

['Chandigarh',
 'Mumbai',
 'Delhi',
 'Hyderabad',
 'Jaipur',
 'Bangalore',
 'Mohali',
 'Ranchi',
 'Kolkata',
 'Port Elizabeth',
 'Bengaluru',
 'Cuttack',
 'Cape Town',
 'Rajkot',
 'Kimberley',
 'Chennai',
 'Centurion',
 'Raipur',
 'Sharjah',
 'Durban',
 'Nagpur',
 'Pune',
 'Visakhapatnam',
 'Kanpur',
 'Johannesburg',
 'Ahmedabad',
 'Dharamsala',
 'Abu Dhabi',
 'East London',
 'Bloemfontein',
 'Indore']

In [ ]:
# exporting cities list as pickle format
pkl.dump(cities,open('city.pkl','wb'))